<section id="{{ id }}" aria-labelledby="{{ id }}--heading" class="section">
  {%- if image -%}
    {{ image | image_url: width: 1200 | image_tag: class: 'section__image', loading: 'lazy', widths: '600, 900, 1200' }}
  {%- endif -%}

  <div class="section__content">
    <h2 id="{{ id }}--heading">{{ heading }}</h2>

    {{ content }}

    {%- if link_href -%}
      <a
        href="{{ link_href }}"
        aria-describedby="{{ id }}"
        class="section__link"
      >
        Learn more
      </a>
    {%- endif -%}
  </div>
</section>
