{% render 'page-title' %}

<p>
  Visit our studio to shop handmade ceramics made by our collective of artists.
</p>

<p>
  You can also buy vouchers for our pottery courses, perfect as a gift for your loved ones.
</p>

{% render 'page-image', image: page.image %}

<br>
<img alt="" src="{{ 'shop-voucher.jpg' | asset_url }}">
<br>
<img alt="" src="{{ 'shop-handmade.jpg' | asset_url }}">
<br>
<img alt="" src="{{ 'shop1.jpg' | asset_url }}">
<br>
<img alt="" src="{{ 'shop2.jpg' | asset_url }}">
<br>
<img alt="" src="{{ 'shop-claystories.jpg' | asset_url }}">
