<footer class="footer">
  <div class="footer__contact">
    <ul aria-label="Find us on" class="footer__social-links">
      <li>
        <a
          href="{{ settings.instagram_url }}"
          target="_blank"
          rel="me noopener noreferrer"
          itemprop="sameAs"
        >
          <svg
            aria-label="Instagram"
            width="16"
            height="16"
            viewBox="0 0 305 305"
          >
            <path
              fill="currentColor"
              d="M 76.845099,0 C 34.455139,0 0,34.455139 0,76.845099 V 227.865 c 0,42.38996 34.455139,76.8451 76.845099,76.8451 H 227.865 c 42.38996,0 76.8451,-34.45514 76.8451,-76.8451 V 76.845099 C 304.7101,34.455139 270.25496,0 227.865,0 Z m 0,33.156139 H 227.865 c 24.09998,0 43.68896,19.58898 43.68896,43.68896 V 227.865 c 0,24.09998 -19.58898,43.68896 -43.68896,43.68896 H 76.845099 c -24.09998,0 -43.68896,-19.58898 -43.68896,-43.68896 V 76.845099 c 0,-24.09998 19.58898,-43.68896 43.68896,-43.68896 z m 156.508841,19.80467 c -10.23999,0 -18.58079,8.3408 -18.58079,18.58079 0,10.23999 8.3408,18.5437 18.58079,18.5437 10.23999,0 18.58079,-8.30371 18.58079,-18.5437 0,-10.23999 -8.3408,-18.58079 -18.58079,-18.58079 z m -80.99889,20.9173 c -43.26996,0 -78.476941,35.206981 -78.476941,78.476941 0,43.27996 35.206981,78.47694 78.476941,78.47694 43.27996,0 78.47694,-35.19698 78.47694,-78.47694 0,-43.26996 -35.19698,-78.476941 -78.47694,-78.476941 z m 0,33.156131 c 24.98998,0 45.32081,20.34083 45.32081,45.32081 0,24.98998 -20.33083,45.32081 -45.32081,45.32081 -24.97998,0 -45.32081,-20.33083 -45.32081,-45.32081 0,-24.97998 20.34083,-45.32081 45.32081,-45.32081 z"
            />
          </svg>
        </a>
      </li>
    </ul>

    <address class="footer__address">
      <p>
        <a
          href="mailto:{{ settings.author_email }}"
          itemprop="email"
          class="u-email"
        >
          {{- settings.author_email -}}
        </a>
      </p>
      <p>
        <a
          href="{{ settings.map_url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="p-adr"
          itemprop="address"
          itemscope
          itemtype="https://schema.org/PostalAddress"
        >
          <span itemprop="streetAddress" class="p-street-address">{{ settings.street_address }}</span>,
          <span itemprop="postalCode" class="p-postal-code">{{ settings.postal_code }}</span>
          <span itemprop="addressLocality" class="p-locality">{{ settings.city }}</span>
          <span itemprop="addressCountry" class="p-country-name" hidden>, {{ settings.country }}</span>
        </a>
      </p>
    </address>
    <meta itemprop="url" content="{{ shop.url }}">
  </div>

  <small class="footer__legal">
    <p class="footer__copyright">
      &copy;
      <a href="{{ shop.url }}" class="p-url">{{ settings.author_name }}</a>
    </p>

    <ul class="footer__legal-links">
      {%- for link in linklists.footer.links -%}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </small>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
